.cover {
    margin-top: 50px;
    height: 400px;
    width: auto;
    background-color: gray;
}

.button_book {
    margin-left: 200px;
}

.home_title {
    margin-top: 100px;
    margin-left: 70px;
}

.services {
    margin-top: 50px;
}

.services1 {
    margin-top: 100px;
}

.services2 {
    margin-top: 100px;
}