.privacyContainer {
    margin-left: 150px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial;
    margin-right: 150px;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}

h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}


@media screen and (max-width: 468px) {
    .privacyContainer {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .p {
        font-size: 15px;
    }
    .h1 {
        font-size: 25px;
    }
    li {
        font-size: 10px;
    }
}

@media screen and (min-width: 469px) and (max-width: 670px){
    .privacyContainer {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .p {
        font-size: 20px;
    }
    .h1 {
        font-size: 20px;
    }
    li {
        font-size: 13px;
    }
}



@media screen and (min-width: 671px) and (max-width: 900px){
    .privacyContainer {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .p {
        font-size: 25px;
    }
    .h1 {
        font-size: 25px;
    }
    li {
        font-size: 20px;
    }
}

